:root {
    --bg-primary: #5D50C6;
    --bg-secondary: #FFFFFF;
    --bg-third: #FACD4914;
    --color-primary: #222831;
    --color-secondary: #F85E9F;
    --color-third: #FF5722;
    --color-fourty: #19182580;
    --color-fifty: #FFFFFF;
    --color-border: #1918251A;
    --font-family-primary: 'Circular Std', sans-serif;
    --font-family-secondary: 'Inter', sans-serif;

    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.4375rem;
    --font-size-highlight: 2.1875rem;
    --font-size-content: 1.125rem;
    --font-size-button: 0.875rem;
    --font-size-label: 1rem;
    --font-size-link: 0.875rem;


    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;

    --radius-lg: 2rem;
    --radius-xxl : 6.25rem;

    --label-spacing-inline: 20%;
    --label-spacing-none: 0;

    --font-weight-title: 700;
    --font-weight-content: 400;
    --line-height-title: 1.2em;
    --line-height-content: 1.6em;

    --color-shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family-primary), sans-serif;
    color: var(--color-primary);
    background-color: var(--bg-secondary);
    padding: 0 0.5rem;
}


.container {
    width: 100%;
    max-width: 1440px;
    min-width: 300px;
    margin-inline: auto;
    padding-inline: var(--spacing-sm);
}


@media (min-width: 768px) {
    :root {
        --font-size-h1: 3.5rem;
        --font-size-h2: 2.5rem;
        --font-size-h3: 1.4375rem;
        --font-size-label: 1.5rem;
        --font-size-md: 1.125rem;
    }

    body {
        padding: 0 2rem;
    }
}

@media (min-width: 1080px) {
    :root {
        --font-size-h1: 4.3125rem;
        --font-size-h2: 2.75rem;
        --font-size-h3: 1.75rem;
        --font-size-label: 1.5rem;
        --font-size-md: 1.125rem;
    }

    body {
        padding: 0 4rem;
    }
}



button {
    background: var(--bg-primary);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title);
    color: var(--color-fifty);
    border-radius: var(--radius-xxl);
    cursor: pointer;
    border: 1px;
    display: flex;
    gap: 0.5rem;
}

button:hover {
    box-shadow: 0 2rem .5rem var(--color-shadow);
    transform: scale(1.05);
    transition: transform .2s ease-in-out
}

h1, h2, h3, h4, h5, h6 {
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-title)
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--color-primary)
}

h2 {
    font-size: var(--font-size-h2);
    color: var(--color-primary)
}

h3 {
    font-size: var(--font-size-h3);
    color: var(--color-primary)
}

p {
    font-size: var(--font-size-content);
    font-weight: var(--font-weight-content);
    color: var(--color-fourty);
    line-height: var(--line-height-content);
}

ul {
    list-style: none;
}



