.container {
    margin: 0 1rem;
    display: flex;
    padding: 2rem 0;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-center {
    text-align: center;
}



@media (max-width: 1024px) {
    .container {
        margin: 0 2rem;
        padding: 4rem 0;
    }
}

@media (min-width: 1440px) {
    .container {
        margin: 0 2rem;
        padding: 4rem 0;
    }
}