.navigation-btn {
    display: flex;
    border: .5px solid var(--color-fourty);
    border-radius: 6.25rem;
    padding: 1.25rem 1.25rem;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center
}

.pair-btn {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.secondary-btn {
    background: var(--bg-secondary);
    color: var(--color-primary);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-title);
}

@media (min-width: 768px) {
    .navigation-btn {
        width: 6.25rem;
        height: 6.25rem;
    }
    .pair-btn {
        gap: 1.5rem;
    }
}

