.hero {
    width: 1184px;
}

.hero h1 {
    max-width: 700px;
    word-break: break-word;
}

.hero .highlight-pink {
    color: var(--color-secondary);
    font-weight: var(--font-weight-title);
}

.hero-content {
    flex-basis: 35%;
    text-wrap: auto;
}

.hero-content .explore-btn {
    color : var(--color-secondary);
    background-color: var(--color-fifty);
    padding: 1rem 2rem;
    gap: 1rem;
}

.hero-image {
    flex-basis: 65%;
}

.hero-btns {
    display: flex;
    gap: 0.5rem;
}

