.logo {
    gap: 1rem;
    align-items: center;
}

.logo > p {
    font-size: var(--font-size-title-sm);
    font-weight: 600;
    color: var(--color-primary);
    margin: 0;
    align-self: center;
}

.logo > img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}