.navbar {
    padding: 2rem 0;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nav-links, .navbar .pair-btn, nav {
    display: none;
}

.menu-toggle-btn {
    display: block;
    padding: 0 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25%;
    margin: .5rem;
}


@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-secondary);
    }

    .navbar > ul {
        display: flex;
        gap: 1.5rem;
    }

    .navbar .nav-links {
        display: flex;
        gap: 1.5rem;
    }

    .navbar a {
        text-decoration: none;
        color: var(--color-fourty);
        font-weight: var(--font-weight-title);
    }

    .navbar a:hover, a:active, a.active {
        color: var(--color-primary);
    }

    .navbar .btn-secondary {
        border: none;
    }

    .navbar .pair-btn {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .navbar .pair-btn button {
        border-radius: var(--radius-xxl);
    }

    .navbar .menu-button {
        display: block;
    }

    .navbar .menu-toggle-btn {
        display: block;
        border: none;
    }

    .navbar button {
        height: 40px;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
    }

    .menu-toggle-btn {
        display: block;
        padding: 0 !important;
    }
}

@media (min-width: 1080px) {
    .navbar {
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-secondary);
        flex-direction: row;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .navbar > ul {
        justify-content: space-between;
    }

    .navbar .nav-links {
        display: flex;
        gap: 2rem;
    }

    .navbar a {
        text-decoration: none;
        color: var(--color-fourty);
        font-weight: var(--font-weight-title);
        margin: 0 1rem;
    }

    .navbar a:hover, a:active, a.active {
        color: var(--color-primary);
    }

    .navbar .btn-secondary {
        border: none;
    }

    .navbar .pair-btn {
        display: flex;
        align-items: center;
        gap: 1rem;

    }

    .navbar .menu-button {
        display: none;
    }

    .navbar button {
        padding: 1rem 2rem;
        height: 50px;
    }
}



