.navbar {
    padding: 1rem 2rem;
}

.nav-links, .navbar .pair-btn {
    display: none;
}


/*.navbar > ul {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.navbar .nav-links {*/
/*    display: flex;*/
/*    gap: 2rem;*/
/*}*/

/*.navbar a {*/
/*    text-decoration: none;*/
/*    color: var(--color-fourty);*/
/*    font-weight: var(--font-weight-title);*/
/*    margin: 0 1rem;*/
/*}*/

/*.navbar a:hover, a.active, a:active {*/
/*    color: var(--color-primary);*/
/*}*/

/*.navbar .secondary-btn {*/
/*    border: none;*/
/*}*/

@media (min-width: 1080px) {
    .navbar {
        padding: 2rem 4rem;
    }
}

@media (min-width: 1440px) {
    .navbar {
        padding: 2rem 8rem;
    }
}



