.partner {
    justify-content: center;
    flex-wrap: wrap;
}

.partner img {
    height: 20px;
    width: auto;
}

.partner img:hover {
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
    cursor: pointer
}