.partner {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.partner img {
    height: 20px;
    width: auto;
}

.partner img:hover {
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
    cursor: pointer
}

@media (min-width: 768px) {
    .partner {
        padding: 4rem 0;
    }
    .partner img {
        height: 32px;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .partner {
        justify-content: space-between;
    }
}