.section-content {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.section-content .section-title {
    font-size: var(--font-size-title-xs);
    font-weight: var(--font-weight-title);
    color: var(--color-secondary);
    margin-bottom: 1rem;
    text-wrap : wrap;
    text-transform: uppercase;
}