.section-content {
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}

.section-content .section-title {
    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-title);
    color: var(--color-secondary);
    margin-bottom: 1rem;
    text-wrap: wrap;
    text-transform: uppercase
}