.text-content {
    text-align: left;
}

.text-content h1 {
    font-size: var(--font-size-title-large);
    font-weight: var(--font-weight-title);
    color: var(--color-primary);
    margin: 0;
}

.text-content h2 {
    font-size: var(--font-size-title-large);
    font-weight: var(--font-weight-title);
    color: var(--color-primary);
    margin: 0;
}

.text-content p {
    font-size: var(--font-size-text-medium);
    font-weight: var(--font-weight-description);
    color: var(--color-fourty);
    margin: 1rem 0;
}

