.top-destination {
    flex-wrap: wrap;
    align-items: center;
}

.top-destination-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top-destination-cards .card {
    display: block;
    text-align: start;
    justify-content: flex-start;
    padding: 0 !important;
    border: 1px solid var(--color-border);
    text-wrap: wrap;
    box-shadow: 0 2rem .5rem var(--color-shadow);
}

.top-destination-cards img,
.card-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.top-destination-cards .top-des-info,
.card-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: left;
}

.top-destination-cards .top-des-description {
    text-align: start;
}

.price {
    color: var(--color-secondary) !important;
    font-size: var(--font-size-text-lg);
    font-weight: 600;
}

.rating {
    color: #ff5722;
    font-weight: 600;
    margin-top: 0.5rem;
    text-align: start;
    justify-content: flex-end;
}
