.travel-point {
    gap: 4rem;
}

.travel-point-content {
    justify-content: space-between;
    text-align: center;
    flex: 1;
}

.travel-point-content section {
    gap: 2rem;
}

.travel-point-content .grid-1 div {
    padding: 2rem;
    gap: 1rem
}

.travel-point-content .grid-1 p {
    color: var(--color-primary)
}