.align-self {
    display: flex;
    flex-direction: row;
    height: 150px;
    border: 1px solid black;
    background-color: #f1ffb3;
    border-radius: 8px;
    margin: 20px;
}

.align-self > p {
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    flex-basis: 100%; 
}

.align-self > .item-1 {
    background-color: red;
}

.align-self > .item-2 {
    background-color: green;
}

.align-self > .target {
    background-color: blue;
    color: white;
}

.align-self > .item-4 {
    background-color: yellow;
}

.stretch {
    align-self: stretch;
}

.base-line {
    align-self: baseline;
}

.stretch {
    align-items: center;
}

.stretch > .target {
    align-self: stretch;
}

.base-line {
    align-items: center;
}

.base-line > .target {
    align-self: baseline;
}

.flex-start {
    align-items: center;
}

.flex-start > .target {
    align-self: flex-start;
}

.flex-end {
    align-items: center;
}

.flex-end > .target {
    align-self: flex-end;
}

.auto {
    align-items: center;
}

.auto > .target {
    align-self: auto;
}