.direction {
    border: 1px solid black;
    background-color: #f1ffb3;
    border-radius: 8px;
    margin: 20px;
    display: flex;
}

.direction > p {
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
}

.direction > .item-1 {
    background-color: red;
}

.direction > .item-2 {
    background-color: green;
}

.direction > .item-3 {
    background-color: blue;
}

.direction > .item-4 {
    background-color: yellow;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}