.order {
    border: 1px solid black;
    background-color: #f1ffb3;
    border-radius: 8px;
    margin: 20px;
    display: flex;
}

.order > p {
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    flex-basis: 40%;
}

.order > .item-1 {
    background-color: red;
}

.order > .target {
    background-color: green;
}

.order > .item-3 {
    background-color: blue;
}

.order > .item-4 {
    background-color: yellow;
}

.order-0 > .target {
    order: 0;
}

.order-1 > .target {
    order: 1;
}

.order--1 > .target {
    order: -1;
}

.order-2 > .target {
    order: 9;
}


